body {
    background-color: #068f19;
  }
  
  .Mundo {
    text-align:;
    background-color: #068f19;
    color: white;
    border-radius: 20px;
    border: 1px solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    margin: 0 auto;
  
  }
  
  .Mundo h1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  
  }
  
  .Mundo h2 {
    color: rgb(255, 230, 0);
  
  }
  
  .Mundo p {
    color: rgb(0, 0, 0);
  }